<div>
    <h1>{{recipe.title}}</h1>
    <p>Image: <img src="{{recipe.image}}" alt="{{recipe.title}}"></p>
    <p>Ingredients: <pre>{{{recipe.ingredients}}}</pre></p>
    <p>Instructions: <pre>{{{recipe.instructions}}}</pre></p>
</div>