<div>
    <h1>{{recipe.title}}</h1>
    <p><img src="{{recipe.image}}" alt="{{recipe.title}}"></p>
    <p><h4>Ingredients:</h4> <pre>{{{recipe.ingredients}}}</pre></p>
    <p><h4>Instructions:</h4> <pre>{{{recipe.instructions}}}</pre></p>
</div>